body {
  height: 3000px;
}

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  left: 0;
  right: 0;
  padding: 10px 50px;
}

.left-section {
  display: flex;
  align-items: center;
}

.profile-picture {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 20px;
  margin-right: 10px;
}

.name {
  font-family: Arial;
  font-weight: bold;
}

.add-friend-button {
  border: none;
  background-color: rgb(24, 119, 242);
  color: white;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 6px;
  margin-right: 3px;
  cursor: pointer;
}

.message-button {
  border: none;
  background-color: rgb(230, 230, 230);
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}