.subscribe-button {
  color: white;
  background-color: rgb(204, 0, 0);
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px; 
  transition: opacity 0.15s;
  vertical-align: top;
}

.subscribe-button:hover {
  opacity: 0.8;
}

.subscribe-button:active {
  opacity: 0.5;
}

.join-button {
  color: rgb(6, 95, 212);
  border-color: rgb(6, 95, 212);
  background-color: white;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  transition: background-color 0.15s, 
    color 0.15s;
}

.join-button:hover {
  color: white;
  background-color: rgb(6, 95, 212);
}

.join-button:active {
  opacity: 0.7;
}

.tweet-button {
  color: white;
  background-color: rgb(29, 155, 240);
  border: none;
  border-radius: 50px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-left: 8px;
  transition: box-shadow 0.15s;
  text-align: top;
}

.tweet-button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}